/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Review Assignment

   Customer Information Validation Style Sheet
   Author: Nayeli Arrieta 
   Date:   12/3/19

   Filename: rb_validate.css

*/


/* Validation Styles */
input, select, textarea:focus {
    background-color: rgb(255, 255, 180);
}

input#phoneBox:focus:valid,
input#nameBox:focus:valid {
    background: rgb(220, 255, 180) url(rb_okay.png) bottom right/contain no-repeat;
}

input#phoneBox:focus:invalid,
input#nameBox:focus:invalid {
    background: rgb(255, 230, 230) url(rb_warning.png) bottom right/contain no-repeat;
}
